#antidepressantClinicalHeader {
  font-size: 1.5rem;
  font-family: "Work Sans", sans-serif;
}

#antidepressant-clinical {
  margin-top: 1rem;
}

.antidepressantClinical-notes {
  background: #d7ece0;
  border-radius: 2px;
  display: inline-block;
  height: 100%;
  margin: 1rem;
  width: 90%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-size: 13px;
}

.antidepressantClinical-notes-key {
  padding: 10px;
}
