.myTableContainer{
  overflow-x: scroll;
  overflow-y: scroll;
  height: fit-content;
  max-height: 70vh;
  max-width: 165vh;
  margin-left: auto;
  margin-right: auto;

}

.contentTable{
  min-width: max-content;
  border-collapse: separate;
}

.tableHead {
  position:sticky;
  top:0px;
  text-align: left;
  z-index: 3;
}



.nameCell:nth-child(1){
  position: sticky;
  left:0;
  z-index: 2;
  
  
}

.nameCell:nth-child(n){
  z-index: 1;
} 



#heading {
    background-color: aliceblue;
    color: black;
    width: 25%;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 30pt;
    margin-left: 35%;
  }

  .key {

    margin-bottom: 15px;
  }

  .notes {
    margin-top: 15px;
  }

  /* Add a media query to apply the styles only when the screen is smaller than 768px (typical tablet size) */
  @media only screen and (max-width: 768px) {

    /* Center the table horizontally */
    .MuiTable-root {
      margin: 0 auto;
      max-width: 100%;
    }

    /* Reduce font size and padding for table cells */
    .MuiTableCell-root {
      font-size: 0.9rem;
      padding: 0.8rem 0.5rem;
    }

    /* Increase font size and padding for table headers */
    .MuiTableCell-head {
      font-size: 1rem;
      padding: 0.8rem 0.5rem;
    }


    /* Show table cell as a block element to make it take the full width of the screen */
    .MuiTableCell-root {
      display: block;
    }

    /* Add a border at the bottom of each table cell to separate them */
    .MuiTableCell-root:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }

    /* Add padding to the first and last table cells of each row to improve readability */
    .MuiTableRow-root .MuiTableCell-root:first-child,
    .MuiTableRow-root .MuiTableCell-root:last-child {
      padding: 0.8rem 0.5rem;
    }


    /* Add margin to the top of the table to separate it from other content */
    .MuiTableContainer-root {
      margin-top: 1rem;
    }

    /* Center the app bar text */
    .MuiTypography-root {
      text-align: center;
    }
  }
