#heading{
    background-color:#96D2B0;
    color:black;
    width:25%;
    text-align:center;
    font-style:italic;
    font-style:bold;
    text-decoration:underline;
    font-size:30pt;
    margin-left:35%;

}
#footer {
    background-color:#96D2B0;
    color:black;
    margin-top:20px;
    font-style:italic;
}

@media  screen and (min-width:200px) and (max-width:2000px) {
    #table td, #table th {
        font-size: 20px;
    }
    #footer{
        font-size:24px;
    }
}


@media  screen and (max-width:700px) {
    #heading{
        width:75%;
        margin-left:40px;
    } 

}