.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #96d2b0;
  height: 60px;
  padding: 0 20px;
}

.navbar_logo {
  margin-right: '15px';
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__link {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__menu-toggle {
  display: none;
  cursor: pointer;
}
.navigation-title:hover{
  background-color: #96d2b0;
}

.web-title {
  font-family: "Work Sans", sans-serif !important;
}

@media screen and (max-width: 899px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .navbar__menu {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .navbar__menu-toggle {
    display: block;
  }

  .navbar__link {
    margin: 10px 0;
  }

  .navbar__link:first-child {
    margin-top: 0;
  }

  .navbar__link:last-child {
    margin-bottom: 0;
  }

  .navbar__menu--open {
    display: flex;
  }

  .navigation-title{
    background-color:transparent !important;
  }
}