.drug-display {
  margin-bottom: 0 !important;
  padding: 0 !important;
  font-size: 20px;
}

.drug-button {
  margin: 0;
}

.drug-box {
  margin-top: 10px !important;
}
 
 @media screen and (min-width: 1024px) {

    #antidepressant-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        gap: 10px;
    
    }
  }
  
  @media  screen and (max-width:900px) {

    #antidepressant-grid {
        align-items: center;
      }
  }
