#antidepressantSafetyHeader {
  font-family: "Work Sans", sans-serif;
}


.css-c8ybf4-MuiTableCell-root, .css-cpq8aj {
  font-family: "Work Sans", sans-serif !important;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  width: 95% !important;
  margin: auto !important;
  margin-top: 8px !important;
} 


@media (max-width: 800px) {
    #antidepressantSafetyHeader {
        font-size: 120%;
        font-family: "Work Sans", sans-serif;
    }
    .antidepressantSafety-notes {
        background: #d7ece0;
        border-radius: 2px;
        display: inline-block;
        height: 100%;
        margin: 1rem;
        width: 90%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        margin-bottom: 6.5rem;
        font-size: 13px;
      }
      .antidepressantSafety-notes-key {
        padding: 10px;
      }
}

.anti-button {
  margin-bottom: 5.5rem;
  text-align: center;
}

.input-style {
  width: 70vw;
  margin: auto;
  margin-top: 10px;
}

.css-1erxr6y-MuiPaper-root-MuiTableContainer-root {
  margin-bottom: 20px !important;
}
