.nps-accordion {
    background-color: white !important;
    margin-top: 10px;
}

#topicHeader {
    text-align: center;
}

.css-o7wkye-MuiTypography-root {
    font-family: "Work Sans", sans-serif !important;
    font-size: 0.9rem !important;
}

.css-9l3uo3, .css-1udiri1 {
    font-family: "Work Sans", sans-serif !important;
}

.nps-second {
    margin-bottom: 4.5rem !important;
}