.nps-accordion {
    background-color: white !important;
    margin-top: 10px;
}

#topicHeader {
    text-align: center;
}

.css-o7wkye-MuiTypography-root {
    font-family: "Work Sans", sans-serif !important;
    font-size: 0.9rem !important;
}