#head{
    margin-top: 20px;
    padding-top: 60px;
    color:black;
    background-color:#96d2b0;
    text-align:center;
    font-style:bold;
}

#firstAccordion, #secondAccordion, #thirdAccordion{
    background-color:#96d2b0;
    color:black;
    
}
#bottom{
    text-align:center;
    background-color:black;
    color:white;
    font-size: 14pt;
    font-style:bold;
    margin-top:50px;
}

#topicHeader {
    font-size: 1.5rem;
}

#table td, #table th {
    font-size: 1rem;
}


