.keynote-div {
    background: #d7ece0;
    border-radius: 2px;
    display: inline-block;
    height: 100%;
    margin: 1rem;
    width: 90%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-family: "Work Sans", sans-serif;
    font-size: 13px;
    margin-bottom: 6.5rem;
}

.keynote {
    padding: 10px;
}

#antipsychoticSafetyHeader {
    font-family: "Work Sans", sans-serif !important;
    font-size: 1.5rem !important;
}