@media only screen and (max-width: 600px) {
  .MuiDialogContent-root {
    padding: 8px;
  }
  .MuiDialogActions-root {
    padding: 4px;
  }
}

@media only screen and (max-width: 480px) {
  .MuiDialogContent-root {
    font-size: 12px;
    line-height: 16px;
  }
  .MuiDialogActions-root {
    font-size: 12px;
  }
}