.main-container {
    overflow: auto;
    margin-top: 35px;
    margin-bottom: 150px;
    top: 64px;
}

<<<<<<< HEAD
=======
.accordian {
    display:flex; 
    justify-content: center;
    align-items: center;
}
>>>>>>> faabd23d9 (Finsihed recatagorizing the main page)
@media (max-width:600px) {
    .main-container {
        width: 100%;
    }

    .MuiCardContent-root {
        font-size: 16px;
    }

    .MuiCard-root {
        width: 100%;
    }
}