.main-container {
    overflow: auto;
    margin-top: 70px;
    margin-bottom: 150px;
    top: 64px;
}

@media (max-width:600px) {
    .main-container {
        width: 100%;
    }

    .MuiCardContent-root {
        font-size: 16px;
    }

    .MuiCard-root {
        width: 100%;
    }

}