.main-container {
    overflow: auto;
    margin-top: 1rem;
    margin-bottom: 50px;
    top: 64px;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.css-16vq84g-MuiPaper-root-MuiCard-root {
    box-shadow: none !important;
}

.css-o9glxo, .css-85ufia {
    font-family: "Work Sans", sans-serif !important;
}

a {
    color: #000;
}

@media (max-width:600px) {
    .main-container {
        width: 100%;
        margin-bottom: 90px;
    }

    .MuiCardContent-root {
        font-size: 16px;
    }

    .MuiCard-root {
        width: 100%;
    }

}