.row-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.cell {
  margin-right: 10px;
}

.column-header {
  font-weight: bold;
}

.column-value {
  margin-left: 5px;
  font-weight: bold;
}

.box {
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 10px;
}

.box-content {
  margin-bottom: 5px;
}

.box-content strong {
  color: #333;
}

.box-content span {
  color: #666;
}
