/* ~~~ General Classes ~~~ */
/* Margin */
.margin-bottom-5rem {
    margin-bottom: 5rem;
}

/* Dimensions */
.height-width-5rem {
    height: 4rem;
    width: 4rem;
}

.Policy,
.disclaimer,
.feedback-button {
  text-decoration: none !important;
}

/* Style changes for hover effect */
.Policy:hover,
.disclaimer:hover,
.feedback-button:hover {
  background-color: #89cea7;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none !important;
}


/* ~~~ Page Specific ~~~ */

/* Delirium Management */
.css-14096co-MuiTableCell-root, .css-1659btm-MuiTableCell-root, .css-9l3uo3, .css-17vih54, .css-1fboncs {
    font-family: "Work Sans", sans-serif !important;
}