#firstAccordionCognitive, #secondAccordionCognitive,#thirdAccordionCognitive{
    background-color:#96d2b0;
    color:black;
}

#topicHeader {
    margin: 1rem;
}
@media  screen and (min-width:200px) and (max-width:2000px) {
    #tableOne td, #tableOne th {
        font-size: 20px;
    }
    #tableTwo td, #tableTwo th {
        font-size: 20px;
    }
    #tableThree td, #tableThree th {
        font-size: 20px;
    }
    #firstTopic,#secondTopic,#thirdTopic,#firstKey,#secondKey{
        font-size: 20px;
    }
}