
  
    
  @media only screen and (max-width: 680px) {
    .customer-form-container {
      width: 80%;
      padding: 0px;
    }
  }
  
  @media only screen and (max-width: 420px) {
    .customer-form-container {
      width: 80%;
      padding: 0px;
      top:60% !important;
      left: 60% !important;
    }
  }
  