.main-footer {
    position: relative !important ; /* Rc: Stick the footer to the bottom */ 
} 
  
  
.admin-root-container {
    width: 80%;
}

.sidebar {
  width: 20%;
  flex-shrink: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}


.MuiDrawer-paper {
  height: auto !important;
  width: 20%;
  box-sizing: border-box;
  margin-top: 64px;
  position: absolute;
}

@media (max-width: 1000px) {
  .sidebar {
    width: 7%;
  }
  .MuiDrawer-paper {
    width: 7%;
    position: absolute !important;
  }

  .MuiDrawer-paper > div {
    overflow: hidden;
  }

  .sidebar-text > span {
    display: none;
  }

}


@media (max-width: 800px) {
  .sidebar {
    width: 10%;
    overflow: hidden;
  }
  .MuiDrawer-paper {
    width: 10%;
    position: absolute !important;
    overflow: hidden;
  }
    
}


@media (max-width: 550px) {
  .sidebar {
    width: 15%;
    overflow: hidden;
  }
  .MuiDrawer-paper {
    width: 15%;
    position: absolute !important;
    overflow: hidden;
  }
    
}
