#back-to-top-anchor{
    height: 0px !important;
    min-height: 0px !important;
}

.admin-data-holder {
    display: flex;
    width: 100%;
}

.drug-table-grid {
    margin-top: 0px !important;
}

.admin-item-container > p {
    font-size: 0.75rem;
}

.data-table-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

@media (max-width: 600px) {
    .css-8k7wf8-MuiDrawer-docked .MuiDrawer-paper {
        width: auto !important; /* Drawer menu uses auto width */
        height: fit-content !important;

    }
    .css-hyum1k-MuiToolbar-root{
      min-height: 0px !important;
    }
    .MuiBox-root {
        margin-top: 0 !important; /* Remove top margin */
    }

    .css-cveggr-MuiListItemIcon-root {
        min-width: 0px !important; /* Icons use minimal width */
    }
    .data-tables-container {
        width: 100% !important; /* Ensure table container is full width */
        margin-left: 22px;
    }
    body{
      line-height: 15px !important;
    }
}

@media (max-width: 1350px) {
    .drug-dropdown {
        font-size: 0.8rem !important;
    }
}
