.form-container {
    height: auto; /* Adjust based on content */
    overflow-x: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw; /* Use viewport width for scalability */
    max-width: 600px; /* Max-width for larger screens */
    transform: translate(-50%, -50%);
    padding: 24px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

/* Apply bold text for unselected feedback and different background for selected */
.feedback-row-not-selected, .bold-text {
    font-weight: bold;
}

.feedback-row-selected {
    background-color: #f0f0f0;
}

.form-header, .btn-container {
    display: flex;
    justify-content: space-between; /* Adjust alignment for smaller screens */
    width: 100%;
}

.title {
    font-size: 1.5rem;
}

.btn-container {
    margin-top: 1rem;
}

.filter-btn, .search-field {
    margin-top: 2rem;
}

/* Smaller screens: Adjust base styles for better readability and interaction */
@media only screen and (max-width: 768px) {
    .title {
        font-size: 1.2rem; /* Slightly reduce font size */
    }
    
    .form-container {
        width: 90vw;
        top: 5%; /* Start closer to the top to use more vertical space */
        left: 50%;
        height: auto; /* Allow container to grow with content */
        transform: translate(-50%, 0%); /* Adjust for vertical centering */
        padding: 20px;
    }

    .filter-btn, .search-field {
        margin-top: 1rem;
    }
}

/* Very small devices: Use full screen for form container, adjust paddings */
@media only screen and (max-width: 480px) {
    .form-container {
        width: 85vw !important;
        height: 100vh; /* Full screen height */
        top: 0;
        margin-left: 58px;
        margin-top: 60px;
        left: 0;
        transform: none; /* No need for translation */
        padding: 16px;
        overflow-y: auto; /* Allow scrolling within the container */
    }

    .form-header {
        flex-direction: column;
        align-items: flex-start; /* Align items at the start */
    }

    .title, .filter-btn, .search-field, .MuiTableCell-root, .MuiButton-root, .MuiInputBase-root {
        font-size: 12px; /* Further reduce font sizes for space */
    }
    
    .popup {
        width: 95vw; /* Allow some margin around the popup */
        max-width: none; /* Override max-width for full width */
    }
}

.popup-backdrop, .popup {
    /* Styles for backdrop and popup remain consistent, focusing on full coverage and centered content */
}

.popup-close-button {
    /* Adjust button size and positioning as needed */
}
