.form-container {
    height: 70%;
    overflow-x: auto;
    position: fixed;
    top: 50%;
    left: 57%;
    width: 80%;
    max-width: 80%;
    transform: translate(-50%, -50%);
    padding: 24px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.filter-btn {
    margin-right: 1rem;
}

.search-field {
    margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 980px) {
    .form-container {
        max-width: 90%;
        width: 90%;
        height: 90%;
        padding: 30px;
        left: 64%;
    }

    .title {
        font-size: 1rem;
    }

    .filter-btn {
        margin-right: 0.5rem;
    }

    .search-field {
        margin-top: 1rem;
    }

    .MuiTableCell-root {
        font-size: 14px;
    }

    .MuiButton-root {
        font-size: 14px;
        padding: 5px 10px;
    }

    .MuiInputBase-root {
        font-size: 14px;
        padding: 5px;
    }

    .MuiTableRow-root {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 420px) {
    .form-container {
        width: 100%;
        padding: 16px;
    }
    .form-header {
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin-bottom: 10px;
    }

    .MuiTableCell-root {
        font-size: 12px;
    }

    .MuiButton-root {
        font-size: 12px;
        padding: 5px 10px;
    }

    .MuiInputBase-root {
        font-size: 12px;
        padding: 5px;
    }
}