#firstAccordionManagement{
    background-color:#96d2b0;
    color:black;
}
#mainTopic{
    text-decoration:none;
    font-size:1.5rem;  
}

#mainText{
    font-size:0.85rem;
}

ul {
    text-align: left;
}

